h1 {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

h2 {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  color: #057074;
}

h3 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;

}

p{
  
  font-family: 'Montserrat', sans-serif;
 
}

span{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
 /* color: #2281eecc;*/
 color: #066e3d;
}

a {
  text-decoration: underline;
  font-size: bold;
}
a:link {
  text-decoration: underline;
  font-size: bold;
  color: #ed00b2;
}

.muster {
  font-style: italic;
  font-size: small;
}

/*verursacht rot in der Navigation*/
/*a[aria-disabled="true"]:hover {*/
/*color: rgba(255,255,255,.5);*/
/* color: red;
}*/

/* visited link */
a:visited {
  text-decoration: underline;
  font-size: bold;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
  font-size: bold;
}

/* selected link */
a:active {
  text-decoration: underline;
  font-size: bold;
}

.dropdown-item:hover {
  background-color: #343a40 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.dropdown-item:visited {
  background-color: #343a40 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.dropdown-item {
  color: rgba(255, 255, 255, 0.55) !important;
}

.dropdown-toggle {
  color: rgba(255, 255, 255, 0.55) !important;
}

.dropdown-toggle:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.squareimage {
  position: relative;
  color: brown;
  padding: unset;
  margin-bottom: 80px;
}

.squareimage img {
  display: block;
}

.textwhite {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-primary {
  background-color: black !important;
  border: black;
}

.btn-primary:hover{
  background-color: #343a40 !important  ;
}

.btn-primary:active{
  border: black;
  outline: black;
  transition: unset;
  -webkit-transition: unset;
}
/*Footer*/

.navbarColor {
  background-color: #343a40 !important;
}

.whiteContrast {
  color: #767676;
}
.whiteOnGrey {
  color: #fafbfc !important;
}

.whiteButtonColor {
  color: #fefeff;
}

.errors {
  color: darkred;
}
.sliderFallback {
  background-color: black;
}

.sliderbg {
  background-color: #3c3d3e;
}
ion-icon {
  color: white;
  font-size: 30px;
}

.btn-primary {
  background-color: darkblue;
}

.speisekarteGrau {
  background-color: rgb(233, 236, 239) !important;
}
@media (max-width: 375px) {
  .squareimage {
    margin-bottom: 40px;
  }

  .speisekarteTabelle {
    display: flex !important;
    flex-direction: row;
  }

  .speisekarte {
    padding: 0 !important;
  }
}
