body{
  background-color: #272a2c;
  /*1f2225*/
}
h1 {
  margin-bottom: 20px;
  font-family: 'Courgette', cursive;
  font-style: normal;
  color: #f8f9fa;

}

h2 {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  color: black;
}

.h2orange{
  color: #dc582a !important;
}

h3 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: black ;
}

span {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #dc582a;
  font-size: 20px;
}

th{
  font-size: 20px;
}



li {
  font-family: 'Montserrat', sans-serif;
}

li .nav-link {
  font-family: 'Montserrat', sans-serif;
  color:  black !important;
  font-weight: bold;
}

.nav-link:hover{
  color:  #f8f9fa !important;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-size: bold;
}

a:link {
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-size: bold;
}

.muster {
  font-style: italic;
  font-size: small;
}

/* visited link */
a:visited {
  text-decoration: underline;
  font-size: bold;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
  font-size: bold;
}

/* selected link */
a:active {
  text-decoration: underline;
  font-size: bold;
  font-family: 'Montserrat', sans-serif;
}
.card-header{
  background-color: #dc582a;
  color: #272a2c !important;
}

.card{
  border: 0;
}

.dropdown-item:hover {
  background-color: #272a2c !important;
  color: #f8f9fa  !important;
}

.dropdown-item:visited {
  background-color: #272a2c !important;
  color: #f8f9fa  !important;
}

.dropdown-item {
  color: #f8f9fa  !important;
}

.dropdown-toggle {
  color:#f8f9fa  !important;
}

.dropdown-toggle:hover {
  color: #f8f9fa  !important;
}

.squareimage {
  position: relative;
  color: brown;
  padding: unset;
  margin-bottom: 80px;
}

.squareimage img {
  display: block;
}

.textwhite {
  background-color: #f8f9fa ;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-primary {
  background-color: #212529 !important;
  border: #272a2c;
  outline: #272a2c;
  transition: unset;
  -webkit-transition: unset;
  font-family: 'Montserrat', sans-serif;
}

.orange{
  background-color: #dc582a !important;
  outline: #272a2c;
  color: black;
}

.btn-primary:hover {
  background-color: #272a2c !important;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary:active {
  border: #272a2c;
  outline: #272a2c;
  transition: unset;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: unset;
}

.navbarColor {
  background-color: #dc582a  !important;
  color: #272a2c !important;
}

.anschrift {
  color: black;
}

.anschrift:hover{
  color: #f8f9fa;
}

.whiteButtonColor {
  color: #f8f9fa ;
}

.errors {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #dc582a;
  font-size: 20px;
}

.sliderFallback {
  background-color: #272a2c;
}

.sliderbg {
  background-color: #272a2c;
}


.speisekarte{
  color: #f8f9fa   !important;
  border-top: 3px solid #dc582a;
}

@media (max-width: 375px) {
  .squareimage {
    margin-bottom: 40px;
  }

  .speisekarteTabelle {
    display: flex !important;
    flex-direction: row;
  }


  .divider {
    border-width: 0;
    border-color: #f8f9fa ;
    border: none;
  }
}