h2 {
  margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
}

a {
  text-decoration: underline;
  font-size: bold;
  color: #0072ed;
}
a:link {
  text-decoration: underline;
  font-size: bold;
  color: #0072ed;
}

.muster {
  font-style: italic;
  font-size: small;
}

/*verursacht rot in der Navigation*/
/*a[aria-disabled="true"]:hover {*/
  /*color: rgba(255,255,255,.5);*/
 /* color: red;
}*/


/* visited link */
a:visited {
  text-decoration: underline;
  font-size: bold;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
  font-size: bold;
}

/* selected link */
a:active {
  text-decoration: underline;
  font-size: bold;
}

.squareimage {
  position: relative;
  color: brown;
  padding: unset;
  margin-bottom: 80px;
}


.squareimage img {
  display: block;
}

.textwhite {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-primary {
  background-color: #0072ed;
}

/*Footer*/

.navbarColor {
    background-color:  #343a40 !important;
}

.whiteContrast{
    color: #767676;
}
.whiteOnGrey{
  color: #fafbfc !important;
}

.whiteButtonColor{
  color: #fefeff;
}

.errors{
  color: darkred;
}
.sliderFallback{
  background-color: black;
}
@media (max-width: 375px) {
  .squareimage {
    margin-bottom: 40px;
  }
}
